/* Reset CSS */
* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color: #2b2a2a;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fafafa;
}

#header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding: 0 15px;
  background-image: linear-gradient(to right, #125b07, #208511);
  box-shadow: 0 0 10px -4px #000;
  color: #fff;
  z-index: 999;
}

#brand {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: center;
}

#brand .img {
  width: 40px;
  height: 40px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#brand .brand-text {
  line-height: 1;
}

#brand .brand-big {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

#brand .brand-small {
  font-size: 0.8rem;
}

#menu {
  height: 50px;
  position: absolute;
  right: 0;
}

#menu ul {
  height: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#menu ul > li {
  padding: 5px 15px;
  cursor: pointer;
}

#menu ul > li:hover {
  filter: drop-shadow(0 0 5px #000);
}

#body {
  margin-top: 50px;
  padding: 15px;
  overflow-x: hidden;
}

#footer {
  background-color: #111702;
  color: #eee;
  font-weight: lighter;
  border-radius: 15px;
  overflow: hidden;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-3 > div {
  padding: 15px;
}

.grid-title {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

#credits {
  padding: 15px;
  text-align: center;
  background-color: #000;
}

#toggle {
  display: none;
}

nav a {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  #header {
    height: auto;
    padding: 10px;
    z-index: 999;
  }

  #body {
    margin-top: 50px;
    padding: 10px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  #menu ul {
    display: none;
  }

  #toggle {
    width: 1.5em;
    height: 50px;
    position: relative;
    top: -9px;
    right: -6px;
  }

  .hamburger {
    position: absolute;
    top: 50px;
    right: 15px;
    margin-top: -29px;
    width: 1em;
    height: 20px;
    z-index: 5;
  }

  .hamburger div {
    position: relative;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    margin-top: 3px;
    transition: all 0.3s ease-in-out;
  }

  .nav {
    margin-top: 70px;
    position: fixed;
    width: 80%;
    height: 100vh;
    background-color: #242526;
    top: 0;
    right: -100%;
    bottom: 0;
    overflow: hidden;
    transition: right 0.3s ease-in-out;
    z-index: -1;
  }

  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  nav {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  nav a {
    position: relative;
    text-decoration: none;
    color: #6ecddd;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }

  nav a:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }

  nav a:hover {
    color: white;
  }

  nav a:hover:before {
    height: 100%;
  }

  #toggle:checked + .hamburger + .nav {
    right: 0;
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 13px;
  }
  #menu {
    position: absolute;
    right: 0;
  }
}
